body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: tomato;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.half-width img{
    width: 100%;
}
p{
    text-align: justify;
}
.hire-me-button, .down-resume-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    border-radius: 7px;
    
}
.top{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.second-half img{
    width: 100%;
}
.second{
    background-image: url(../images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.para-second{
    padding-right: 10px;
}
.down{
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    box-shadow: 10px 10px 25px gray;
    margin: 0% 5%;
    padding: 2%;
    width: 40%;
}
h2{
    font-size: 40px;
}
.down-part{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient( red, tomato);
    border-image-slice: 1;
}
#grf-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
